body {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: inline-flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 30vh;
  font-size: 30px;
    text-align: center;
}

i {
  padding: 0px 10px 0px 10px;
}



#fbook {
  color: #4867AA;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 150ms;
   
/*visibility: visible;  */
} 

  

#twit {
  color: #1DA1F2;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 150ms;
}


#insta {
display: inline-block;
  width: 48px;
  height: 48px; 
   /* background-size: 300px 100px;*/
  text-align: center;
  border-radius: 10px; 
  color: #fff;
  font-size: 40px;
  /*line-height: 45px;*/ 
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 7px 10px rgba(0,0,0,0.8);  
/* color: #813DB4; */
  cursor: pointer;
  /*text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);*/
  transition: all ease-in-out 150ms; 
    padding-left: 7px;
    padding-top: 3px;
}




#snap {
  color: #fffc00;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 150ms;
     

}


#tumb {
  color: #32506d;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 150ms;
}


#pint {
  color: #cb2027;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 150ms;
}



#ytube {
  color: #FF0000;
  cursor: pointer;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 150ms;
 

}

/*Youtube*/
