
.container{
    
    background: rgba(91, 192, 222, 0.3);
    filter: alpha(opacity=50);
    width: 70em;
    height: 30em;
   /* margin: auto;*/
   text-align: center; 
    margin-top: 5em;
   /*transition
    -webkit-transition-property: width; /* Safari */
   /* -webkit-transition-duration: 2s; /* Safari */
   /* transition-property: width;
    transition-duration: 2s; */
    
}
.main-content{
    /*position: relative;*/
}
/*h2{
    font-family: 'Gabriela', serif;
    color: black;
    opacity: 1.0 !important;
    text-align: center;
    
} */

.btn{
    font-size: 20px;
    font-weight: 800;
}

.backbtn{
    float: left;
    position: fixed;
    font-family: 'Spectral', serif;
    margin-left: 15em;
    margin-top: 1em;
}

.submitbtn{
    text-align: center;
    font-family: 'Spectral', serif;
}

.nextbtn{
    float:right;
    font-family: 'Spectral', serif;
    margin-right: 15em;
    margin-top: 1em;
}

body{
text-align: center;   
}

p {
    font-size: 20px;
    font-family: 'Gabriela', serif;
}

.button-wrapper {
     font-family: 'Spectral', serif;
    
    }

#txt{
    height: 200px;
    width: 50%;
}
 